@charset "UTF-8";
.body {
  background-color: #d2fc8e; }

h1 {
  font-weight: 2.4; }

h2 {
  font-weight: 1.2; }

h3 {
  font-weight: 0.8; }

h4 {
  font-weight: 0.6; }

h5 {
  font-weight: 0.48; }

h6 {
  font-weight: 0.4; }

h1 {
  color: #ABB2B9;
  background-color: darkcyan;
  font-size: 2.3rem;
  margin: 10px 0px 40px 0px;
  font-style: italic;
  text-transform: uppercase;
  width: 100%;
  letter-spacing: 2px; }

h2 {
  color: firebrick;
  text-decoration: underline;
  margin: 15px 20px 30px 20px;
  padding: 20px;
  width: 500px; }

h3 {
  color: firebrick;
  text-decoration: underline;
  margin: 20px 20px 20px 20px;
  padding: 15px;
  width: 200px; }

p {
  font-size: 1.0rem;
  text-align: justify;
  font-family: 'Barlow Semi Condensed', sans-serif;
  margin: 10px 15x 5px 15px;
  padding: 20px;
  width: 100%;
  box-sizing: border-box; }

.bordesP {
  border: 1px dashed black;
  border-radius: 20px; }

.margen {
  width: 90%;
  box-sizing: border-box;
  overflow: hidden; }

.margen2 {
  width: 50%;
  box-sizing: border-box;
  overflow: hidden; }

.tamaño {
  width: 40%;
  box-sizing: border-box;
  overflow: hidden; }

.buenosBordes {
  border-radius: 2rem;
  width: 500px;
  height: 400px;
  margin-left: 20px; }

/*armando el calendario INDEX*/
.calendario {
  background-color: whitesmoke;
  border: 8px solid #82E0AA;
  border-radius: 25px;
  width: 70%;
  box-sizing: border-box;
  margin: 10px 10px 10px 90px;
  padding: 0px 0px 50px 10px; }

.listaCalendario {
  width: 80%;
  height: 300px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-left: 30px;
  padding: 10px;
  box-sizing: border-box; }

/*Fin calendario*/
/*flex a los Div de CANCHA para ordenar las imagenes */
.flexElementos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-top: 3px solid #D4AC0D; }

.flexSinBorde {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }

/*Fin plex en CANCHA */
.dayName {
  background-color: darkseagreen;
  font-weight: bold;
  text-align: center; }

/*Tamaño a el MAPA y VIDEO importado en INDEX */
.importado {
  width: 100%;
  height: 450px;
  padding: 30px;
  margin: 10px;
  background-image: url("../foto/pelotas.jpg");
  border-radius: 30px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  box-sizing: border-box; }

/*Fin MAPA y VIDEO importado en INDEX */
.logo {
  width: 70px;
  border: 4px solid #402E32;
  border-radius: 35%;
  margin: 2px 5px 15px 0px;
  background-color: whitesmoke;
  box-shadow: 0px 0px 4px black; }

.italica {
  font-style: italic; }

.subrrayado {
  text-decoration: underline; }

.negra {
  font-weight: bold; }

/*Diseño de Diccionario PROFESORES */
dl {
  margin-left: 45px; }

dl td {
  font-weight: bolder;
  text-decoration: underline; }

dl dd {
  margin-left: 2em; }

/*Fin diccionario */
/*lista de hoyos CANCHA*/
.listaHoyos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: 2px dashed black;
  padding: 5px 30px 20px 30px;
  border-radius: 25px;
  margin: 20px;
  list-style: none; }

li {
  list-style: none;
  padding-left: 10px;
  font-size: 19px; }

div ol li h2 {
  font-size: 1.5rem;
  margin-bottom: 15px; }

.imagenHoyos {
  width: 180px;
  height: 550px;
  border-radius: 20px; }

/*Fin de lista de hoyos CANCHA */
/*Animacion del FOOTER para volver arriba*/
.anima {
  animation-name: arriba;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0, 0.17, 1, 0.84);
  animation-duration: 3.8s;
  width: 100px;
  display: flex;
  justify-content: center;
  border-radius: 40%; }

@keyframes arriba {
  0% { }
  25% {
    transform: translatey(25px); }
  50% {
    transform: translatey(46px);
    transform: scale(1.9 1.9);
    background-color: orangered; }
  75% {
    transform: translatey(25px); }
  100% {
    transform: translatey(0px); } }

/*Fin animacion FOOTER*/
.logo {
  width: 70px;
  border: 4px solid #402E32;
  border-radius: 35%;
  margin: 2px 5px 0px 0px;
  background-color: whitesmoke;
  box-shadow: 0px 0px 4px black; }

.estiloImagen {
  width: 80%;
  height: 300;
  border-radius: 30%;
  margin: 20px 10px 10px 10px;
  box-sizing: border-box; }

/*formulario de reservas*/
form {
  width: 50%;
  box-sizing: border-box;
  overflow: hidden; }

form fieldset {
  border-radius: 20px;
  padding: 10px 0px 10px 15px;
  margin: 0px 0px 10px 15px;
  background-image: radial-gradient(#53A2B9, #B6D96F); }

/*Fin formulario RESERVAS*/
/*TABLA en PROFESORES*/
table {
  background-image: url("../foto/pelotita.jpg");
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: 660px 390px;
  font-weight: 3000;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  align-content: center; }

table td {
  border: 2px solid lightslategrey;
  border-collapse: collapse;
  border-radius: 20px;
  text-align: center;
  font-weight: bolder;
  overflow: hidden; }

/*fIN TABLA en PROFESORES*/
/*anidados*/
.menu_bar {
  display: none; }

nav {
  width: 100%;
  text-align: center;
  position: sticky;
  z-index: 10; }
  nav ul li {
    padding: 5px;
    margin-left: 1px;
    background-color: #008080;
    display: inline-block;
    border-style: outset;
    border-color: #17202A;
    border-top: 6px solid mintcream;
    font-weight: bold;
    font-size: 1.3rem; }
    nav ul li a {
      text-decoration: none;
      color: #1c1c1c; }
    nav ul li a:hover {
      text-decoration: none;
      color: #54a478; }
    nav ul li ul {
      display: none;
      position: absolute;
      width: 150px;
      margin-left: -64px;
      top: 40px;
      width: 210px; }
  nav ul li:hover {
    background-color: beige;
    color: #54a478; }
  nav ul li:hover ul {
    display: block; }

/*BEN*/
.centro {
  justify-items: center;
  text-align: center; }

.centro__logo {
  width: 70px;
  border: 4px solid #402E32;
  border-radius: 35%;
  margin: 2px 5px 15px 0px;
  background-color: whitesmoke;
  box-shadow: 0px 0px 4px black; }

.encabezado {
  width: 100%;
  height: 19rem;
  background-size: 100% 20rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
  align-items: center;
  background-image: url("../foto/golf21.jpg");
  background-repeat: no-repeat;
  background-size: 100% 25rem;
  justify-content: space-between; }

.encabezado__p {
  font-size: 50px;
  float: left;
  font-weight: bold;
  margin-top: 10px;
  margin-left: 10px;
  color: black;
  text-decoration: none; }

.encabezado__logo {
  width: 250px;
  height: 250px;
  align-self: center; }

#columna {
  display: flex;
  flex-direction: column; }

.Pie {
  width: 100%;
  height: 8rem;
  font-family: 'Qahiri', sans-serif;
  background-image: linear-gradient(to right, peru 40%, black 90%);
  margin-top: 3em;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap; }

.pie__centrar {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.pie__logo {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  margin-left: 15px; }

.pie__empresa {
  width: 130px;
  height: 130px;
  border-radius: 30px;
  margin-left: 15px; }

.Pie__letra {
  font-family: fantasy;
  font-size: 1.1rem;
  margin-left: 15px; }

.gridsIndex {
  display: grid;
  grid-template-areas: "cabeza    cabeza" "cuerpo    cuerpo" "pie       pie ";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.4fr 1fr 0.3fr;
  align-items: center;
  text-align: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px; }

header {
  grid-area: cabeza; }

main {
  grid-area: cuerpo; }

footer {
  grid-area: pie; }

.gridCuerpo {
  display: grid;
  grid-template-areas: "mennu             mennu" "logos            logos" "titulo           titulo" "identidad        imagenesCancha" "imagenFigura     figuras" "videoDescripcion video" "mappa            calendario";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.06fr 0.08fr 0.1fr 1fr 1fr 0.8fr 0.8fr;
  align-items: center;
  text-align: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px; }

#menu {
  grid-area: mennu; }

#logos {
  grid-area: logos; }

.titulo {
  grid-area: titulo;
  text-align: left; }

#imagenesCancha {
  grid-area: imagenesCancha; }

#identidad {
  grid-area: identidad; }

#imagenFigura {
  grid-area: imagenFigura; }

#figuras {
  grid-area: figuras; }

#videoDescripcion {
  grid-area: videoDescripcion; }

#videoSemanal {
  grid-area: video; }

#mapa {
  grid-area: mappa; }

#calendarioIndex {
  grid-area: calendario; }

.grids {
  display: grid;
  grid-template-areas: "data1    imagen1" "imagen4  data4" "data7    imagen7";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center; }

.data123 {
  grid-area: data1;
  box-sizing: border-box;
  overflow: hidden;
  margin: 10px 15px; }

.data456 {
  grid-area: data4;
  box-sizing: border-box;
  overflow: hidden;
  margin: 10px 15px; }

.data789 {
  grid-area: data7;
  box-sizing: border-box;
  overflow: hidden;
  margin: 10px 15px; }

.imagen123 {
  grid-area: imagen1;
  justify-self: center; }

.imagen456 {
  grid-area: imagen4;
  justify-self: center; }

.imagen789 {
  grid-area: imagen7;
  justify-self: center; }

@media (max-width: 768px) {
  header img {
    display: none; }
  body {
    background-color: #e8f8af; }
  .grids {
    display: grid;
    grid-template-areas: "data1" "imagen1" "data4" "imagen4" "data7" "imagen7";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center; }
  .gridCuerpo {
    display: grid;
    grid-template-areas: "mennu" "logos" "titulo" "identidad" "imagenesCancha" "figuras" "imagenFigura" "videoDescripcion" "video" "mappa" "calendario";
    grid-template-columns: 1fr;
    grid-template-rows: 0.03fr 0.1fr 0.08fr 0.5fr 1fr 0.4fr 1fr 0.4fr 0.2fr 0.5fr 0.7fr;
    align-items: center;
    text-align: center;
    grid-column-gap: 10px; }
  .encabezado {
    background-image: linear-gradient(to right, peru 40%, black 90%);
    width: 100%;
    height: 10rem;
    display: block;
    flex-wrap: wrap;
    overflow: hidden;
    text-align: center; }
  .encabezado__logo {
    display: none; }
  .encabezado__p {
    font-size: 50px;
    float: left;
    margin-top: 0px;
    padding: 0px;
    font-weight: bold;
    color: black;
    text-decoration: none; }
  nav {
    display: none; }
  p {
    width: 100%; }
  img {
    width: 100%; }
  .Pie__letra {
    font-family: fantasy;
    font-size: 0.8rem;
    margin-left: 15px; }
  .pie__empresa {
    display: none; }
  .importado {
    width: 100%;
    padding: 20px;
    margin: 20px;
    background-image: url("../foto/pelotas.jpg");
    border-radius: 30px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-sizing: border-box;
    align-items: center; } }

* {
  margin: 0;
  padding: 0; }

/*font-family: 'Barlow Semi Condensed', sans-serif;
font-family: 'Raleway', sans-serif;*/
html {
  font-size: 17px; }
