.gridsIndex{
        display: grid;
        grid-template-areas: 
        "cabeza    cabeza"
        "cuerpo    cuerpo"
        "pie       pie "
        ;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.4fr 1fr 0.3fr;
        align-items: center;
        text-align: center;
        grid-column-gap: 10px ;
        grid-row-gap: 10px ;
    }
header{
        grid-area: cabeza;
    }
main {
        grid-area: cuerpo;
    }
footer{
        grid-area: pie;
    }
.gridCancha{
        display: grid;
        grid-template-areas: 
        "indice    indice"
        "titulo    titulo"
        "descripcion  casa"
        "driving1  driving2"
        "descripcion2 descripcion2"
        "fotoAerea   fotoAerea"
        "grids       grids"
        ;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.04fr 0.05fr 0.1fr 0.1fr 0.04fr 0.2fr 1fr;
        align-items: center;
        text-align: center;
        grid-column-gap: 10px ;
        grid-row-gap: 10px ;
    }
.indice{
        grid-area: indice;
    }
.titulo{
        grid-area: titulo;
    }
#descripcion{
        grid-area: descripcion;
    }
#casa{
        grid-area: casa;
    }
#driving1{
        grid-area: driving1;
    }
#driving2{
        grid-area: driving2;
    }
#descripcion2{
        grid-area: descripcion2;
    }
#fotoAerea{
        grid-area: fotoAerea;
    }
#grids{
        grid-area: grids;
    }


.gridCuerpo{
        display: grid;
        grid-template-areas: 
        "mennu             mennu"
        "logos            logos"
        "titulo           titulo"
        "identidad        imagenesCancha"
        "imagenFigura     figuras"
        "videoDescripcion video"
        "mappa            calendario"
        ;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.06fr 0.08fr 0.1fr 1fr 1fr 0.8fr 0.8fr;
        align-items: center;
        text-align: center;
        grid-column-gap: 10px ;
        grid-row-gap: 10px ;
    
    }
#menu{
        grid-area: mennu;
    }
#logos{
        grid-area: logos;
    }
.titulo{
        grid-area: titulo;
        text-align: left;
    }
#imagenesCancha{
        grid-area: imagenesCancha;
    }
#identidad{
        grid-area: identidad;
    }
#imagenFigura{
        grid-area: imagenFigura;
    }
#figuras{
        grid-area: figuras;
    }
#videoDescripcion{
        grid-area: videoDescripcion;
    }
#videoSemanal{
        grid-area: video;
    }
#mapa{
        grid-area: mappa;
    }
#calendarioIndex{
        grid-area: calendario;
    }

.grids{
        display: grid;
        grid-template-areas:
        "data1    imagen1"
        "imagen4  data4"
        "data7    imagen7";
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr 1fr;
        align-items: center;	
    
    
    }
    
.data123{
        grid-area: data1;
        box-sizing: border-box;
        overflow: hidden;
        margin: 10px 15px;
    
    }
.data456{
        grid-area: data4;
        box-sizing: border-box;
        overflow: hidden;
        margin: 10px 15px;
    }
.data789{
        grid-area: data7;
        box-sizing: border-box;
        overflow: hidden;
        margin: 10px 15px;
    }
.imagen123{
        grid-area: imagen1;
        justify-self: center;
        
    }
.imagen456{
        grid-area: imagen4;
        justify-self: center;
    }
.imagen789{
        grid-area: imagen7;
        justify-self: center;
    }

@media(min-width: 801px){
    .clases{
        display: none;
    }
    }
@media(max-width: 800px) {
    header img{
		display: none;
	    }
    body{
	 background-color: #e8f8af;
	 }
	h1{
        color: #ABB2B9;
	    background-color: darkcyan;
	    font-size: 2.8rem;
	    margin: 10px 0px 40px 0px;
	    font-style: italic;
	    text-transform: uppercase;
	    width: 100%;
	    letter-spacing: 2px;
    }
    .grids{
	display: grid;
	grid-template-areas:
	"data1"
	"imagen1"
	"data4"
	"imagen4"
	"data7"
	"imagen7";
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 0.7fr 1fr 0.7fr 1fr 0.7fr;
	align-items: center;

    }
    .imagenHoyos{
	width: 150px;
	height: 480px;
	border-radius: 20px;
    }
    .gridCuerpo{
	display: grid;
	grid-template-areas: 
	"mennu"
	"logos"
    "titulo"
	"identidad"
	"imagenesCancha"
	"figuras"
	"imagenFigura"
	"videoDescripcion"
	"video"
	"mappa"
	"calendario";
	grid-template-columns: 1fr;
	grid-template-rows: 0.03fr 0.1fr 0.08fr 0.5fr 1fr 0.4fr 1fr 0.4fr 0.2fr 0.5fr 0.7fr;
	align-items: center;
	text-align: center;
	grid-column-gap: 10px ;

    }
    .gridCancha{
    display: grid;
    grid-template-areas: 
    "indice"
    "titulo"
    "descripcion"
    "casa"
    "driving1"
    "driving2"
    "descripcion2"
    "fotoAerea"
    "grids";
    grid-template-columns: 1fr;
    grid-template-rows: 0.02fr 0.01fr 0.06fr 0.08fr 0.09fr 0.09fr 0.02fr 0.06fr 1fr;
    align-items: center;
    text-align: center;
    grid-column-gap: 10px ;
    grid-row-gap: 10px ;
    }
	
    .encabezado{
    background-image: radial-gradient(	rgb(63, 205, 110) 40%, black 90% );
    background-size: 100% 10rem;
    width: 100%;
    height: 10rem;  
    display: block;
    flex-wrap: wrap;
    overflow: hidden;
    text-align: center;
    }

        .encabezado__logo{
        display: none;
        }
        .encabezado__p{
        font-size: 50px;
        display: block;
        width: 100%;
        margin-top: 0px;
        padding: 0px;
        font-weight: bold;
        color: black;
        text-decoration: none;
        }

    nav{
    display: none;
    }

    p{
    width: 100%;
    }
    img{
    width: 100%;
    }
    .Pie__letra{
    font-family: fantasy;
    font-size: 0.8rem;
    margin-left: 15px;
    }
    .pie__empresa{
    display: none;
    }
    .importado{
	width: 100%;
	padding: 20px;
	margin: 20px;
	background-image: url("../foto/pelotas.jpg");
	border-radius: 30px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	box-sizing: border-box;
    align-items: center;
    }
    table{
	background-image: url("../foto/pelotita.jpg");
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-size: 680px 390px;
	font-weight: 3000;
	margin-left: auto;
	margin-right: auto;
	border-radius: 20px;
	align-content: center;
    }

    table th{
    font-size: 12px;
    }
    table tr{
    font-size: 12px;
    }
    table tr img{
    width: 15px;
    height: 15px;
    }
    form{
    width: 100%;
	box-sizing: border-box;
	overflow: hidden;
    }
    .listaHoyos{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	border: 2px dashed black;
	padding: 5px 30px 20px 30px;
	border-radius: 25px;
	margin: 20px;
	list-style: none;
    }
    }
@media(max-width: 541px) {
    .grupal{
    display:inline-block;
    }
    .horario{
    display: none;
    }
    h1{	
	color: #ABB2B9;
	background-color: #008b8b;
	font-size: 2.3rem;
	margin: 10px 0px 40px 0px;
	font-style: italic;
	text-transform: uppercase;
	width: 100%;
	letter-spacing: 2px;
    }
    }
